
@font-face {
    font-family: 'gi';
    src: url('../fonts/gi.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'agane';
    src: url('../fonts/agane.ttf');
    font-weight: normal;
    font-style: normal;
}

.label-success {
    background-color: #a6bf25;
}

.columnFlex,
.centerColumnFlex{
    display: flex;
    flex-direction: column;
}

.centerColumnFlex {
    align-items: center;
}

.rowFlex,
 .centerRowFlex {
    display: flex;
    flex-direction: row;
}

.centerRowFlex {
    align-items: center;
}

.rowGap10 {
    row-gap: 10px;
}

.infoContent {
    font-size: 16px;
    font-family: gi;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.info {
     font-size: 14px;
     font-family: gi;
     justify-content: center;
     display: flex;
}

.statusBlock{
  color: white;
  padding: 10px;
  margin-right:1px;
  margin-top:1px;
  min-height: 77px;
  height: 120px;
  background-color: #373f46;
}

.userBadge {
    font-size: 15px;
    margin:10px;
    margin-top: 30px;
    line-height:1.2;
}

.barBlock {
    width:170px;
}

.badge-connect {
   color: #fff;
     background-color: #17a2b8;
     padding: 7px;
     display: inline-block;
     font-size: 75%;
     font-weight: 700;
     line-height: 1;
     text-align: center;
     white-space: nowrap;
     vertical-align: baseline;
     border-radius: 0.25rem;
     transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.stacked-bar-graph {
  width: 100%;
  color:#414042;
  display: flex;

  span {
   height: 80%;
   box-sizing: border-box;
   float: left;
   font-weight: bold;
   font-family: gi;
   padding-top: 3px;
   padding-left: 10px;
   color: white;
  }
  .bar-1 {
    background: #17a2b8;
    height: 10px;
  }
  .bar-2 {
    background: #17a2b8;
    height: 10px;
    opacity: 0.5;
  }
}

.linkLike {
    border: none;
    background: white;
    text-decoration-line: underline;
    color: #007bff;
}

.btnConnect {
    border: none;
    background: white;
    text-decoration-line: underline;
    color: #17a2b8;
}

.formField {
    margin-left : "5px"
    width : "280px";
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.inputError {
    color : red;
    font-style: italic;
    font-size: 13px;
    min-width: 150px;
}

.power {
    color: d40000;
    cursor: pointer;
    font-size: 30px;
    justify-content: flex-end;
 }

 a.power:hover {
    text-decoration: none;
}